<h1> <%= t ".title" %></h1>
<p>
  <%= t ".get_help" %>
  <a href="http://www.railstutorial.org/help"><%= t ".get_help" %></a>.
  <%= t ".see_help" %>
  <a href="http://www.railstutorial.org/book"><%= t ".rubyOnRail" %></a>
</p>
