<li>
  <%= link_to gravatar_for load_user(post.user_id), load_user(post.user_id) %>
  <h5><%= link_to post.title, post %></h5>
  <p class="text-right"><%= post.created_at %></p>
  <p class="sort-description"><%= post.body %></p>
  <p class="text-right"><%= link_to t("post.view.read_more"), post %></p>
  <% if 0 != comment_size(post) %>
    <p class="text-right">
      <%= t "post.view.num_comment",post.comments.size %>
    </p>
  <% end %>
  <% if logged_in? && current_user.id == post.user_id %>
  <%= link_to t("microposts.micropost.delete"), post, method: :delete, data:
    {comfirm: t "post.view.sure" } %>
  <% end %>
</li>
