<footer class="footer">
  <small>
    <%= (t (".title"), link: link_to(t(".title_"), "http://www.michaelhartl
      .com/")).html_safe %>
    <%= link_to t(".author"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "static_pages/about" %></li>
      <li><%= link_to t(".contact"), "static_pages/contact" %></li>
      <li><%= link_to t(".news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
